
.vs/Portals/v17/Browse.VC.opendb
.tmp\Debug-x64
.vs\Portals\FileContentIndex
.vs\Portals\v17
.tmp/Debug-x64/Main.obj
.tmp/Debug-x64/Main.obj
.tmp/Debug-x64/SampleAlpha.ilk
.tmp/Debug-x64/SampleAlpha.log
.tmp/Debug-x64/SampleAlpha.tlog/CL.read.1.tlog
.tmp/Debug-x64/SampleAlpha.tlog/CL.write.1.tlog
.tmp/Debug-x64/vc143.idb
.tmp/Debug-x64/vc143.pdb
.vs/Portals/FileContentIndex/17f17ad0-699f-430a-afec-7f1f0b6489b7.vsidx
.vs/Portals/FileContentIndex/94517853-1d3e-4357-8cad-1be9a78821ff.vsidx
.tmp/Debug-x64/Player.obj
.tmp/Debug-x64/Main.obj
bin/Debug-x64/SampleAlpha.exe
bin/Debug-x64/SampleAlpha.pdb
.vs/Portals/v17/Browse.VC.db-wal
.vs/Portals/v17/.suo
bin/Debug-x64/Assets/ball9.png
.vs/Portals/FileContentIndex/fa98b698-4163-4df9-b343-d1621cf06a5b.vsidx
.vs/Portals/FileContentIndex/bdb88b7e-32a3-4796-b9d4-e6b89080f054.vsidx
.vs/Portals/FileContentIndex/94517853-1d3e-4357-8cad-1be9a78821ff.vsidx
.vs/Portals/FileContentIndex/17f17ad0-699f-430a-afec-7f1f0b6489b7.vsidx
.tmp/Debug-x64/vc143.pdb
.tmp/Debug-x64/vc143.idb
.tmp/Debug-x64/SampleAlpha.tlog/CL.write.1.tlog
.tmp/Debug-x64/SampleAlpha.tlog/CL.read.1.tlog
.tmp/Debug-x64/SampleAlpha.log
.tmp/Debug-x64/SampleAlpha.ilk
.tmp/Debug-x64/Player.obj
.tmp/Debug-x64/Main.obj
